/************************************
 * Colors used in this app
 * 
 * DMSi Red/Orange: #d74127 - nav bar, main button background, important accent text (e.g. status)
 * DMSi Dark Gray: #565759 - branch bar, button backgrounds,
 * DMSi Dark Gray for Text only: rgba(0, 0, 0, 0.667) - same as Dark Gray, but used as black with transparency, renders nicer.
 * Lighter gray text: rgba(0, 0, 0, 0.3) (only use over white) - otherwise use #7F7F7F  
 * 
 * Borders: #cccccc
 * Shadows #cccccc
 * Placeholder Text: #b2b2b2;
 * Text on dark gray or red/orange: #ffffff

 * Disabled button background: #cccccc
 * Disabled button text: #dddddd

*************************************/

/*******************
** Generic **
*******************/
html, body .km-content
{
    background: #fff !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.km-content
{
    padding: 10px;
}
.km-content a, .km-content span, .km-content div, .km-content label, .km-content td, .km-content th, .km-content p, .km-content dd, .km-content dt, .km-content li, .km-content section, .km-content input, .km-content textarea, .km-content button {
    color: rgba(0, 0, 0, 0.667);
}  

.km-flat .km-list input[type="text"]:not(.k-input),
.km-flat .km-list input[type="password"],
.km-flat .km-list input[type="email"],
.km-flat .km-list input[type="date"],
.km-flat textarea,
.km-flat select
{
    position: static;
    width: 100%;
    height: 30px;
    font: normal 1.2rem Arial, san-serif;
    padding: 0;
    margin: 0;
}

.km-flat select
{
    padding: .4em .2em;
}

.km-flat .km-list input[type="checkbox"]
{
    background: #d74127 !important;
    border: 0 !important;
}

.km-view
{
    position: fixed !important;
    
}

.km-scroll-container, 
.km-listview-wrapper,
.km-listview
{
 height: 100%;   
}

.app-logo,
.app-name
{
    margin-top: 1.5em;
}

.screenView
{
    background: #fff;
    width: 100%;
}

.screenView header
{
    background: #fff;
    border: 0 none;    
}

.screenView header div.left
{
    background: transparent;
    padding: 0;
    margin: 0;
    display: table-cell;
    width: 20%;
    text-transform: lowercase;
}

.screenView header div.left img
{
    width: 50%;
}

.screenView header div.pageTitle
{
    background: transparent;
    font: bold 1.50rem Arial, san-serif;
    text-transform: capitalize;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.667);
    padding: 0;
    margin: 0;
    width: 60%;
    display: table-cell;
}

.screenView header div.right
{
    background: transparent;
    padding: 0;
    margin: 0;
    display: table-cell;
    width: 20%;
    position: relative;
    z-index: 1000;
}

.screenView header div.right img
{
    width: 50%;
}

::-webkit-scrollbar 
/* To remove native scrolling in iOS */ { 
    display: none; 
}

::-webkit-input-placeholder, :-ms-input-placeholder
{
    color: rgba(0, 0, 0, 0.5);
}

/*******************
** LOG-IN SCREEN **
*******************/

#loginScreen
{
    width: 100%;
}

#offlineScreen
{
    width: 100%;
}

.loginConsole,
.offlineConsole
{
    background-image: url('images/MobileWarehouseToolsLoginPortrait.jpg');
    width: 100%;
    padding-bottom: 25px;
    margin: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}



.loginForm,
.offlineForm
{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.loginConsole header,
.offlineConsole header
{
    background: transparent;
    padding: 10px 0 40px 0;
}

.loginConsole ul,
.offlineConsole ul
{
    width: 80%;
    margin: 0 auto;
}

.loginConsole ul li,
.offlineConsole ul li
{
    border: 1px solid #cccccc !important;
    border-radius: 0 !important;
}

.loginConsole ul li:last-child,
.offlineConsole ul li:last-child
{
    background: #d74127 !important;
    border: 0 !important;
    border-radius: 0 !important;
    color: #fff;
    padding: .8em;
    display: block;
}

.loginConsole ol,
.offlineConsole ol
{
    background: transparent;
    margin: 0 auto;
    padding: 15px 0 0 0; 
    text-align: center;
    list-style-type: none;
    width: 80%;
}

.loginConsole ol li,
.offlineConsole ol li
{
    margin: 1.5em 0 0;
}

#offlineReason
{
    text-align: center;
    color: rgba(0, 0, 0, 0.667) !important; 
}


#loginRememberLabel{
    text-transform:uppercase;
}

.k-notification, .k-notification-wrap {
    border-radius: 0px;
    color: rgba(0, 0, 0, 0.667);
}
.k-notification-wrap{

    width: 89.3vw;
    margin: 0;
    padding: 5vw;
    font-size: 5vw;
}

.k-icon {
    height: 1.5rem;
}

.k-i-note {
    background-image: url('../img/error.png') !important;
    background-repeat: no-repeat !important;
    background-position: 0 4px !important;
    background-size: 100% !important;
}

.icon.icon--warning {
    height: 1em;
    width: 1em;
    position: absolute;
    left: 10px;
    top: 6px;
}

.icon.icon--success {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    left: 15px;
    top: 32%;
}

.icon.icon--success img {
    height: 100%;
    width: 100%;
}

.icon.icon--error {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    left: 15px;
    top: 32%;
}

.icon.icon--error img {
    height: 100%;
    width: 100%;
}

#branchList{
    
    font:normal 1.0rem Arial, san-serif !important;    
}

/*******************
** SEARCH SCREEN **
*******************/

/* Override kendo default background and border colors for selected items. */
.k-scheduler-layout .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-grid tr.k-state-selected, .k-grid td.k-state-selected, .k-grid td.k-state-selected.k-state-focused, .k-marquee-color, .k-gantt .k-treelist .k-state-selected, .k-gantt .k-treelist .k-state-selected td, .k-gantt .k-treelist .k-alt.k-state-selected, .k-gantt .k-treelist .k-alt.k-state-selected>td, .k-listview>.k-state-selected, .k-state-selected.k-line {
  background-color: rgba(0, 0, 0, 0.667);
  background-image: none;
}
.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list>.k-state-selected, .k-list>.k-state-highlight, .k-panel>.k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
  border-color: rgb(86, 87, 89);
}

.k-tabstrip-items .k-state-active {
    background-color: #565759 !important;
    border-color: #ffffff;
}    

.k-tabstrip-items .k-link{
    color: #ffffff !important;       
}

.k-tabstrip-items .k-state-default {
    font:normal 1.0rem Arial, san-serif;    
}

.k-tabstrip>.k-content, .k-panelbar .k-tabstrip>.k-content {
  padding-left: 1vw !important;
  padding-right: 0 !important;
  padding-top: 3vw !important;
  padding-bottom: 2vw !important;
}  

.k-webkit .k-combobox .k-dropdown-wrap:before, .k-webkit .k-picker-wrap:before, .k-webkit .k-numeric-wrap:before {
    height: inherit !important;
}

.k-header {
   background-color: #d74127 !important; 
}

.panelBarHeader {
   color: #ffffff !important; 
}
#navigation-container
{
    font: normal 1.30rem Arial, san-serif;
}

/*******************
** GLOBAL STYLES **
*******************/

h1, h2, h3, h4 {
    margin-top: 0.86rem;
    margin-bottom: 0.333rem;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

h3 {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
}

h4 {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;

}

a:hover {
    cursor:pointer;
}

.navbar
{
    text-align: center;
    text-transform: capitalize;
    background: #d74127;
    color: #ffffff;
}

.printTagsbranchbar,
.splitTagsbranchbar,
.verifyTagsbranchbar,
.moveTagsbranchbar,
.taginfobranchbar,
.workorderCompletionbranchbar,
.branchbar  
{
    font:normal 1.2rem Arial, san-serif !important;
    text-align: left !important;
    color:#ffffff !important;
    background-color: rgba(0, 0, 0, 0.667);       
    padding: 1vw;
   
    width: 100%; 
    margin: 0vw; 
    height: 100%;   
    border: 0 !important;  
    padding-left: 10px;
}

.optionsbutton
{
    background: transparent !important;
    border: 0 !important;
    color:#ffffff !important;
}

.optionsbuttonleft
{
    padding-top: 15px;
    height: 100px;
    width: 100px;
    text-align: left;
    background: transparent !important;
    border: 0 !important;
    color:#ffffff !important;
}

.optionsbuttonright
{
    padding-top: 15px;
    height: 100px;
    width: 100px;
    text-align: right;
    background: transparent !important;
    border: 0 !important;
    color:#ffffff !important;
}

.nav-button    
{
    background: transparent !important;
    border: 0 !important;
    color:#ffffff !important;
}

navbar div.pageTitle
{
    background: transparent;
    font: bold 1.50rem Arial, san-serif;
    text-transform: capitalize;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.667);
    padding: 0;
    margin: 0;
    display: table-cell;
}

.noBorder
{
    border: 0 !important;
}

.hidden {
    display: none;
}
.visible {
    display: initial;
}

.bgWhite
{
    background-color: #ffffff;
}
.km-content .lightText, .km-content span.lightText, .km-content a.lightText, .km-content .lightText span, .km-content .lightText a, .km-content .lightText button, .km-content button.lightText {
    color: #ffffff;
}

.viewHeader {
    
    font:normal 1.2rem Arial, san-serif;
    text-align: left !important;
    color:#ffffff;
    background-color: rgba(0, 0, 0, 0.667);
    
    padding: 0.8vw;
    width: 96vw;
    
    margin: 1vw; 
    height: 100%;
    /*text-transform: capitalize;*/
}

.appBtn
{
    background: #565759 !important;
    border-radius: 0 !important;
    border: 0 none !important; 
    color: #fff !important;
    font: normal 1.2rem Arial, san-serif;
    text-transform: uppercase;
    position: relative;
    margin: 0 -1px;
    padding: .6em 0;
    display: block;
    text-align:center;
}

.appBtn[disabled="disabled"],
.appBtn:disabled,
.appBtnDisabled {
    background: #cccccc !important;
    border-radius: 0 !important;
    border: 0 none !important; 
    color: #dddddd !important;
    font: normal 1.2rem Arial, san-serif;
    text-transform: uppercase;
    position: relative;
    margin: 0 -1px;
    padding: .6em 0;
    display: block;
    text-align:center;
} 

.appBtnAccent
{
    background: #d74127 !important;
    border-radius: 7px !important;
    border: 0 none !important; 
    color: #fff !important;
    font: normal 1.0rem Arial, san-serif;
    text-transform: uppercase;
    position: relative;
    margin: 0 -1px;
    padding: .6em 0;
    display: block;
}

footer
{
    background: #fff !important;
    border: 0;
    border-top: 1px solid #cccccc;
    padding: 10px;
    padding-top: 0;
	box-shadow: #cccccc 0px 0px 6px 2px;
    -moz-box-shadow: #cccccc 0px 0px 6px 2px
}

/* *****************
   Tag Info Screen
   ****************/

.tagInfoContent.km-content {
    padding: 10px;
}

.km-flat .km-listview-link:after
{
    display: none;
}

.tagInfoClearFix 
{
   position:static;
   top: 0;
}
.tagInfoClearFix:before {
   content: "";
   display: table;
}
.tagInfoClearFix:after {
   content: "";
   display: table;
   clear: both;
}

#tagInfoEntry
{
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.verifyTagsClear,
.moveTagsClear,
.tagInfoClear
{
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 1px;
    cursor: pointer;
}

/* Increase clickable area of clear button */
.verifyTagsClear:after,
.moveTagsClear:after,
.tagInfoClear:after {
    content: '';
    position: absolute;
    top: -6px;
    bottom: -9px;
    left: -9px;
    right: -9px;
}

/* *****************
   Split Tags Screen
   *****************/

.splitTagsFromTagClear,
.splitTagsFromTagQtyClear,
.splitTagsToTagClear,
.splitTagsToTagLocationClear,
.splitTagsToTagLotClear,
.splitTagsPrinterClear
{
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

.splitTagsFromTagInfo
{
    font:normal 1.2rem Arial, san-serif; 
}

.splitTagsFromTagInfo p {
    margin-left: 0;
    text-align: left;   
    margin-top: -2px;
}

/* Increase clickable area of clear button */
.splitTagsFromTagClear:after,
.splitTagsFromTagQtyClear:after,
.splitTagsToTagClear:after,
.splitTagsToTagLocationClear:after,
.splitTagsToTagLotClear:after,
.splitTagsPrinterClear:after
{
    content: '';
    position: absolute;
    top: -6px;
    bottom: -9px;
    left: -9px;
    right: -9px;
}

.splitTagsPrinterContainer,
.splitTagsPrintTagsContainer,
.splitTagsToTagLotContainer,
.splitTagsToTagLocationContainer,
.splitTagsToTagContainer,
.splitTagsFromTagContainer,
.splitTagsFromTagQtyContainer,
.updatableTextBoxContainer
{
    position: relative;
    display: inline;
    float: right;
    width: 60%;
    margin: 0;
}

#splitTagsFromTagQtyHeading
{
    padding-top: 10px !important;
}

#splitTagsFromTagQtyHeading,
#splitTagsFromTagLocHeading,
#splitTagsToTagLocHeading,
.splitTagsFromTagExistingQtyLabel,
.splitTagsToTagExistingQtyLabel,
.splitTagsToTagTotalQtyLabel,
.splitTagsToTagLocationLabel,
.splitTagsToTagLotLabel,
.splitTagsPrintTagsOptionLabel,
.splitTagsPrinterLabel,
.updatableTextBoxLabel
{
    display: inline-block;
    width: 38%;
    padding-top: 10px;
    padding-bottom: 10px; 
    font-size: 1.2rem !important;
}

#splitTagsFromTagLocHeading,
#splitTagsToTagLocHeading
{
    font-weight: bold;      
    padding-top: 10px;
    font-size: 1.5rem !important;
}

.splitTagsFromTagExistingQtyLabel
{
    padding-bottom: 20px !important;
}

.splitTagsToTagExistingQtyLabel
{
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}

.splitTagsToTagTotalQtyContainer
{
    margin-top: 10px;
}

.splitTagsToTagTotalQtyLabel,
.splitTagsToTagLocationLabel,
.splitTagsToTagLotLabel,
.splitTagsPrintTagsOptionLabel,
.splitTagsPrinterLabel
{
    padding-top: 10px !important;
}

#splitTagsFromTagExistingQty,
#splitTagsToTagExistingQty,
#splitTagsToTagTotalQty
{
    font:normal 1.2rem Arial, san-serif;
    display: inline-block;
    width: 60%; 
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;  
}

#splitTagsFromTagQty,
#splitTagsFromTagID,
#splitTagsToTagID,
#splitTagsToTagLocation,
#splitTagsToTagLot,
#splitTagsPrintTagsOptionList,
#splitTagsPrinter,
#departmentSelectionOptionList,
#departmentScanningReasonList
{
    height: 45px;
    font:normal 1.2rem Arial, san-serif;
    border: 1px solid #cccccc;
    display: inline-block;
    width: 100%; 
    padding-top: 10px;
    padding-right: 10px; 
    padding-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

#splitTagsToTagID,
#splitTagsFromTagQty
{
    float: left !important;
    width: 48% !important;
}

.splitTagsResults
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-top: 1px solid #ccc;
    background-color: #cccccc;
}


.splitTagsFromTagQtyClear,
.splitTagsToTagClear
{
    right: 55% !important;
}

.splitTagsToTagLocationEntry
{
  padding-top: 10px;
}

.splitTagsToTagEntry
{
  padding-top: 15px;
}

.splitTagsPrinterEntry
{
  margin-bottom: 10px;
}

.k-notification-ErrorPrint.k-group,
.k-notification-ErrorSplit.k-group,
.k-notification-ErrorWorkorderCompletion.k-group,
.k-notification-ErrorDepartmentSelection.k-group
{
     width: 100% !important;
     height: 60px;
     text-align: left;
     background-color: #fcded2 !important;
     background: #fcded2 !important;
     border: 1px solid #a1b2a1;
     padding-left: 3.0em;    
}

.k-notification-ErrorPrint.k-group .errorPrint__detail,
.k-notification-ErrorSplit.k-group .errorSplit__detail,
.k-notification-ErrorWorkorderCompletion.k-group .errorWorkorderCompletion__detail,
.k-notification-ErrorDepartmentSelection.k-group .errorDepartmentSelection__detail
{
    font-size: 1rem;
    line-height: 60px;
    word-wrap: break-word !important;
    padding-left: 20px;
    padding-top: 0;
}

@media (max-width: 480px){
    #splitTagsFromTagExistingQty,
    #splitTagsToTagExistingQty,
    #splitTagsToTagTotalQty
    {    
      padding-left: 15px !important;  
    }    
    
    .k-notification-ErrorPrint.k-group,
    .k-notification-ErrorSplit.k-group,
    .k-notification-ErrorWorkorderCompletion.k-group,
    .k-notification-ErrorDepartmentSelection.k-group
    {
      padding-left: 5px !important; 
      padding-top: 10px;
    }    
    
    .icon.icon--error 
    {
        height: 0;
        width: 0;        
        visibility: hidden;
    }

    .k-notification-ErrorPrint.k-group .errorPrint__detail,
    .k-notification-ErrorSplit.k-group .errorSplit__detail,
    .k-notification-ErrorWorkorderCompletion.k-group .errorWorkorderCompletion__detail,
    .k-notification-ErrorDepartmentSelection.k-group .errorDepartmentSelection__detail
    {
        font-size: 1em;     
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        line-height: 20px;
    }    
}

/* *****************
   Print Tags Screen
  ******************/

.printTagsItemInfo
{ 
    font:normal 1.2rem Arial, san-serif; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.printTagsTagListHeading
{
   margin-bottom: 5px;    
}

.printTagsResults
{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: #cccccc;
}

.printTagsPrinterLabel
{
    display: inline-block;
    width: 38%;
    padding-top: 10px;
    padding-bottom: 10px; 
    font-size: 1.5rem !important;
}
.printTagsPrinterContainer
{
    position: relative;
    display: inline;
    float: right;
    width: 60%;
    margin: 0;
}

.printTagsPrinterClear
{
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

/* Increase clickable area of clear button */
.printTagsPrinterClear:after
{
    content: '';
    position: absolute;
    top: -6px;
    bottom: -9px;
    left: -9px;
    right: -9px;
}

.printTagsPrinterEntry
{
    margin-top: 20px;
}

#printTagsPrinter
{
    height: 45px;
    font:normal 1.2rem Arial, san-serif;
    border: 1px solid #cccccc;
    display: inline-block;
    width: 100%; 
    padding-top: 10px;
    padding-right: 10px; 
    padding-bottom: 10px;
    padding-left: 10px;
}

/* *****************
   Move Tags Screen
   ****************/

.printTagsContent.km-content,
.splitTagsContent.km-content,
.verifyTagsContent.km-content,
.moveTagsContent.km-content
{
    padding: 10px;   
}

#printTagsResultList,
#splitTagsResultList,
#verifyTagsResultList,
#moveTagsResultList
{
     border: 0;  
     background-color: transparent; 
}

.printTagsResultListCellLabel,
.splitTagsResultListCellLabel,
.verifyTagsResultListCellLabel,
.moveTagsResultListCellLabel
{
	float: left;
    text-align: center;
	line-height: 3em;
}

.invalidTag {
    position: absolute;
    top: 11px;
    right: 3em;
    
    background: #ffc60a;
    color: rgba(0, 0, 0, 0.667) !important;
    padding: 5px;
    padding-left: 2em;
    padding-right: 10px;
    font-size: 1rem;
    border: 1px solid #ffc60a;
    border-radius: 4px;
    
}

.printTagsResultListCell,
.verifyTagsResultListCell,
.moveTagsResultListCell
{   
    width:100%;
    color: #ccc;     
    display:inline-block;
    position:relative;    
    border-bottom: 1px solid #999;    
    text-align: left !important;
    font:normal 1.2rem Arial, san-serif !important; 
}

.splitTagsResultListCell {
    border-bottom: none;
    background-color: transparent !important;
    padding-top: 10px;
}

.splitTagsResultListCell2
{
    width:100% !important;
    color: #ccc !important;
    display:inline-block;
    position:relative;   
    text-align: left !important;
    font:normal 1.2rem Arial, san-serif !important;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
}

.splitTagsResultListCellLabel1
{
	width: 38%;
	line-height: 1.2em;
    display: inline-block;
}

.splitTagsResultListCellLabel2
{  
	line-height: 1.2em;
    display: inline-block;
    padding-left: 18px;
}

.splitTagsResultListCellLabel3
{
	line-height: 1.2em;
    margin-left: 38%;
    font-size: 0.8em;
    color: #999;
    padding-left: 21px;
}

.printTagsResultListCellDelete,
.splitTagsResultListCellDelete,
.verifyTagsResultListCellDelete,
.moveTagsResultListCellDelete
{
    float:right;
    border:none;
}

.printTagsResultListCellDelete img,
.splitTagsResultListCellDelete img,
.verifyTagsResultListCellDelete img,
.moveTagsResultListCellDelete img {
    width: 1.3rem;
    height: 1.5rem;
    margin-top: 14px;
}

.splitTagsResultListCellDelete img {
    margin-top: 0;
}

#verifyTagsTagLocHeading,
#moveTagsTagLocHeading {
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 5px;
}

.printTagsPrinterEntry,
.splitTagsFromTagQtyEntry,
.splitTagsFromTagEntry,
.splitTagsToTagEntry,
.splitTagsToTagLocationEntry,
.splitTagsToTagLotEntry,
.splitTagsPrintTagsEntry,
.splitTagsPrinterEntry,
.verifyTagsEntry,
.moveTagsEntry,
.updatableTextBoxGroup
{
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.updatableTextBoxGroup
{
  position: relative;
}
.printTagsTagListHeading,
.splitTagsTagListHeading,
.verifyTagsTagListHeading,
.moveTagsTagListHeading
{
    font-size: 1.5rem;   
    font-weight: bold;
    width: 100% !important;
    display: inline-block;
    margin-left: 0 !important;    
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
    padding-top: 20px;    
}

.splitTagsTagHeading,
.verifyTagsTagHeading,
.moveTagsTagHeading
{
    display: inline-block;
    padding-bottom: 5px; 
    font-size: 1.5rem;
}

.k-notification-SuccessfulSplit.k-group,
.k-notification-SuccessfulPrint.k-group,
.k-notification-SuccessfulVerify.k-group,
.k-notification-SuccessfulMove.k-group,
.k-notification-SuccessfulWorkorderCompletion.k-group
{
     width: 100% !important;
     height: 60px;
     text-align: left;
     background-color: #e6ffe6 !important;
     background: #e6ffe6 !important;
     border: 1px solid #a1b2a1;
     padding-left: 3.0em;
}

.k-notification-SuccessfulSplit.k-group .successfulSplit__detail,
.k-notification-SuccessfulPrint.k-group .successfulPrint__detail,
.k-notification-SuccessfulVerify.k-group .successfulVerify__detail,
.k-notification-SuccessfulMove.k-group .successfulMove__detail,
.k-notification-SuccessfulWorkorderCompletion.k-group .successfulWorkorderCompletion__detail
{
    font-size: 1rem;
    line-height: 60px;
    word-wrap: break-word !important;
}

@media (max-width: 480px){
    .k-notification-SuccessfulSplit.k-group,
    .k-notification-SuccessfulPrint.k-group,
    .k-notification-SuccessfulVerify.k-group,
    .k-notification-SuccessfulMove.k-group,
    .k-notification-SuccessfulWorkorderCompletion.k-group
    {
      padding-left: 0;       
    }    
    
    .icon.icon--success 
    {
        height: 1.0em;
        width: 1.0em;        
        visibility: hidden;
    }

    .k-notification-SuccessfulSplit.k-group .successfulSplit__detail,
    .k-notification-SuccessfulPrint.k-group .successfulPrint__detail,
    .k-notification-SuccessfulVerify.k-group .successfulVerify__detail,
    .k-notification-SuccessfulMove.k-group .successfulMove__detail,
    .k-notification-SuccessfulWorkorderCompletion.k-group .successfulWorkorderCompletion__detail
    {
        font-size: .8rem;     
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }    
}

.verifyTagsTagLocHeading,
.moveTagsTagLocHeading,
.tagInfoTagHeading,
.tagInfoPrinterHeading
{
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 5px;
}

.tagInfoPrinterContainer,
.verifyTagsSearchContainer,
.moveTagsSearchContainer,
.tagInfoSearchContainer
{
    display: inline;    
}

.tagInfoPrinterContainer,
.verifyTagsSearchContainer,
.moveTagsSearchContainer
{
    position: relative;
}

.printTagsPrintBtnContainer,
.splitTagsUpdateBtnContainer,
.verifyTagsUpdateBtnContainer {
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.printTagsUpdateBtn,
.splitTagsUpdateBtn,
.verifyTagsUpdateBtn
{
    width: 100%;
    display: inline-block;
    font-size: 1.0rem;
    border-width: 0px;
    border-style: solid;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #d74127;  
    color: #ffffff !important;
    border: 0 !important;
}

.tagInfoSearchContainer
{
    margin-left: 0;
    position: relative;
}

#verifyTagsTagID,
#moveTagsTagID
{
    font:normal 1.2rem Arial, san-serif;
    border: 1px solid #cccccc;
    width: 100%;
    /* beh */
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    /* beh */
}

#tagInfoTagID
{
    font:normal 1.2rem Arial, san-serif;
    border: 1px solid #cccccc;
    width: 100%;
    /* beh */
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    /* beh */
}

/*.moveTagsDeleteTagsBtn
{
    font-size: 1.0rem;
    border-width: 0px;
    border-style: solid;
    padding: 10px 25px 10px 25px;
    margin-top: 20px;    
    float: right;
    background: #d74127;
    color: #ffffff !important;
    border: 0 !important;
}*/

@media (max-height: 500px){
 .moveTagsMoveTagBtn{
     margin-bottom: 100px !important;
 }
}

#tagInfoPrinter
{
    padding-top: 0;
    padding-bottom: 0;
    font:normal 1.2rem Arial, san-serif;
    border: 1px solid #cccccc;
    float:left;
    height: 40px !important;
    width: 100% !important;
    margin-bottom: 10px;
    /*
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    */
}

.tagInfoPrintDiv
{
    margin-top: 20px;
    display:inline-block;
    width: 100% !important;
    font-size: 1.5rem;
}

.splitTagsToTagGetNewTagBtn,
.splitTagsFromTagBtn,
.workorderIDSearchBtn,
.verifyTagsBtn,
.moveTagsBtn,
.taginfoPrt,
.taginfoBtn
{
    font-size: 1.0rem;
    border-width: 0px;
    border-style: solid;    
    padding: 10px 25px 10px 25px;
    float: right;
    background: #d74127 !important;
    color: #ffffff !important;
    border: 0 !important;        
}

.splitTagsFromTagBtn,
.workorderIDSearchBtn,
.splitTagsToTagGetNewTagBtn
{
    height: 45px !important;
    padding: 12px 0px 12px 0px !important;
    width: 50% !important; 
    text-align: center;
    /*background-color: #565759 !important;*/
}

.taginfoPrt,
.taginfoBtn
{
  width: 115px;  
}

.taginfoPrt
{
    float: right !important;
}


.tagInfoResultDiv,
.infoResultDiv
{
    clear: both;
    margin-top: 15px;
    background-color: #ffffff !important;
    background: #ffffff !important;       
}

.moveTagsResults,
.verifyTagsResults
{
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: #cccccc;    
}

.tagInfoResults li,
.infoList li
{ 
    list-style-type: none;   
    border-top: 2px solid #ccc;
    padding: 5px 0px;
    text-align: left !important;
    font:normal 1.2rem Arial, san-serif;
    border: 0 !important;
    background-color: #ffffff !important;
    background: #ffffff !important;
}

#tagInfoTag,
#tagInfoTagHd,
#tagInfoLocHd,
#tagInfoLotHd,
#tagInfoContHd,
#tagInfoTallyHd,
#tagInfoQohHd,
#tagInfoTagllyHd,
#tagInfoCommittedHd,
#tagInfoExtDescHd
{
    font-weight: bold;
}

.tagInfoExtDesc 
{
    white-space: pre-wrap;
    
}

.tagInfoItemSizeDesc
{
    font-weight:bold;
}
.tagInfoPrinterClear
{
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
}

/* Increase clickable area of clear button */
.tagInfoPrinterClear:after
{
    content: '';
    position: absolute;
    top: -6px;
    bottom: -9px;
    left: -9px;
    right: -9px;
}

/* *****************
   END Tag Info Screen
   ****************/


/* *****************
   Workfiles Screen
   ****************/

.dataCard {
    border: 0;
    border-bottom: 2px solid #cccccc;
    margin: 0px 10px;
    padding: 10px;
    padding-top: 0;
    padding-left: 0;
}

.dataCard *, .dataCard h2, .dataCard p {
    margin: 0;
}

.dataCard:hover, .dataCard:active, .dataCard:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.dataCard:hover h2, .dataCard:hover p {
    color: #ffffff;
}

.dataCard:active h2, .dataCard:active p, .dataCard:focus h2, .dataCard:focus p {
    color: #ffffff;
}

.dataCard--workfile .workfilesWorkfileIdSeqDesc {    
    word-wrap: break-word;
}

.dataCard--workfile .locationRange,
.dataCard--workfile .selectionCriteria {
    color: rgba(0, 0, 0, 0.6667);
    line-height: 1.3em;
	
}

.dataCard--workfile .createdDate {
    color: rgba(0, 0, 0, 0.6667);
    float: right;
    margin-top: -16px;
}

.dataCard {
    border: 0;
    border-bottom: 2px solid #cccccc;
    margin: 0px 10px;
    padding: 10px;
    padding-top: 0;
    padding-left: 0;
}

.dataCard--department .departmentsDepartment {    
    text-align: center !important;
    border: 0;
    /*margin: 10px;*/
    height: 75px;
    line-height: 75px;
}

@media (max-height: 550px){
    .dataCard--department .departmentsDepartment{
        flex-grow: 0;
        height: 50px;
        line-height: 50px;      
    }
}

@media (max-height: 500px){
    .dataCard--department .departmentsDepartment{
        flex-grow: 0;
        height: 25px;
        line-height: 25px;      
    }
}

/* *****************
   Verify Tags Screen
   ******************/

.verifyTagsDataCard {
    border: 0;       
    padding: 10px;
    padding-left: 0;
    color:#ffffff !important;
    background-color: rgba(0, 0, 0, 0.5);  
}

.verifyTagsDataCard *, .verifyTagsDataCard h2, .verifyTagsDataCard p{
    margin: 0;
}

.verifyTagsDataCard .verifyTagsWorkfileIdSeqDesc {
    color: #ffffff !important;
    margin-left: 10px; 
    word-wrap: break-word;
}

.DepartmentDataCard .DepartmentDesc{
    color: #ffffff !important;
    margin-left: 10px; 
    word-wrap: break-word;
}

.verifyTagsDataCard .verifyTagsLocationRange,
.verifyTagsDataCard .verifyTagsSelectionCriteria {
    color: #ffffff !important;
    margin-left: 10px;
    line-height: 1.3em;
	
}

.verifyTagsDataCard .verifyTagsCreatedDate {
    color: #ffffff !important;
    float: right;
    margin-top: -16px;
}

/* *****************
/* END Verify Tags Screen */

/* *****************
   Start Work Order Completion Screen
   ****************/

.workorderCompletionContent.km-content
{
    padding: 10px;   
}

.workorderCompletionClearFix 
{
   position:static;
   top: 0;
}
.workorderCompletionClearFix:before {
   content: "";
   display: table;
}
.workorderCompletionClearFix:after {
   content: "";
   display: table;
   clear: both;
}

.workorderCompletionDescList
{
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.workorderCompletionWOIDHeading
{
    display: inline-block;
    padding-bottom: 10px; 
    width: 38%;
    padding-top: 10px;
}


.workorderCompletionWOIDContainer
{
    position: relative;
    display: inline;
    float: right;
    width: 60%;
    margin: 0;
}

#workorderCompletionWOID,
#departmentScanningWOID,
#departmentScanOnlyWOID
{
    height: 45px;
    font:normal 1.2rem Arial, san-serif;
    border: 1px solid #cccccc;
    width: 100%;
    display: inline-block;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.workorderIDSearchBtn
{
    float: right; 
}

.textBoxClear
{
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

.workorderCompletionLocationClear
{
    top: 10px;
}

/* Increase clickable area of clear button */
.textBoxClear:after
{
    content: '';
    position: absolute;
    top: -6px;
    bottom: -9px;
    left: -9px;
    right: -9px;
}

.workorderCompletionLocationEntry
{
  padding-top: 10px;
  padding-bottom: 10px;
}

.infoLabel
{
    font: bold 1.2rem Arial, san-serif;
}

.WOPhrase 
{
    white-space: pre-wrap;
}

.workorderCompletionLocationLabel
{
    padding-top: 10px !important;
}

#workorderCompletionLocationLabel
{
    display: inline-block;
    width: 32%;
    padding-bottom: 10px; 
    font-size: 1.2rem !important;
}

.workorderCompletionLocationContainer
{
    position: relative;
    display: inline;
    float: right;
    width: 60%;
    margin: 0;
}

.workorderCompletionQtyContainer
{
    position: relative;
    display: inline;
    float: left;
    width: 26%;
    margin: 0;
    margin-left: 8%;
    margin-right: 2%;
}

#workorderCompletionLocation,
#workorderCompletionQty,
#departmentScanningLocation,
#departmentScanningQty,
#departmentScanningNumEmployees
{
    height: 45px;
    font:normal 1.2rem Arial, san-serif;
    border: 1px solid #cccccc;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.workorderCompletionUpdateBtnContainer
{
    width: 100%;
    margin: 0;
    text-align:center;
}

.bodyButton
{
    height: 45px;
    display: inline-block;
    font-size: 1.0rem;
    border-width: 0px;
    border-style: solid;
    text-align: center;
    background: #d74127;  
    color: #ffffff !important;
    border: 0 !important;
    box-sizing: border-box;
    padding: 12px 0px 12px 0px !important;
}

.footerButton
{
    height: 45px;
    width: 32%;
    display: inline-block;
    font-size: 1.0rem;
    border-width: 0px;
    border-style: solid;
    text-align: center;
    text-transform: uppercase;
    background: #d74127;  
    color: #ffffff !important;
    border: 0 !important;
    padding: 5px 0px 5px 0px !important;
    float: left;
    box-sizing: border-box;
}

.floatRight
{
    float: right;
    
}

.bodyText
{
    float: left;
    padding: 12px 0px 12px 0px !important;
}

.bodyButtonContainer
{
    height: 55px;
    padding: 5px 0px 5px 0px !important;
}

.footerButtonContainer
{
    height: 55px;
    padding: 5px 0px 5px 0px !important;
}

.spacer
{
    height: 10px;
}

/* landscape iphone */
@media (max-width: 450px) and (max-height: 460px) {
    .workorderIDSearchBtn
    {
        width: 36% !important; 
    }
    
    .workorderCompletionWOIDContainer
    {
        width: 70%;
    }
    
    #workorderCompletionWOID,
    #departmentScanningWOID,
    #departmentScanOnlyWOID
    {
        float: left;
        width: 62%;  
    }
    
    .workorderCompletionLocationLabel
    {
        width: 25%;
    }
    .workorderCompletionWOIDHeading
    {
        float: left;
        width: 25%;
    }
    
    .workorderCompletionWOIDClear
    {
        right: 40% !important;
    }
}

/* landscape iphone */
@media (min-width: 450px) {
    .workorderIDSearchBtn
    {
        width: 28% !important; 
    }
    
    .workorderCompletionWOIDContainer
    {
        width: 60%;
    }
    
    #workorderCompletionWOID,
    #departmentScanningWOID,
    #departmentScanOnlyWOID
    {
        float: left;
        width: 70%;  
    }
    
    .workorderCompletionWOIDHeading
    {
        float: left;
        width: 30%;
    }
    
    .workorderCompletionWOIDClear
    {
        right: 33% !important;
    }
}
/* *****************
   END Work Order Completion Screen
   ****************/

/* *****************
   START Department Scanning Screen
   *****************/
.departmentSelectionBtnContainer
{
    padding-top: 10px;
    text-align: center;
}

.departmentSelectionNextBtn
{
    height: 45px;
    width: 100%;
    display: inline-block;
    font-size: 1.0rem;
    border-width: 0px;
    border-style: solid;
    text-align: center;
    text-transform: uppercase;
    background: #d74127;  
    color: #ffffff;
    border: 0;
    padding: 12px 0px 12px 0px;
    box-sizing: border-box;
    margin: auto;
}

#departmentScanningNotes
{
    height: 90px;
    width: 100%;
}

#deptScanningPanelBar
{
    border: 0;
}

#deptScanningExpandButton
{
    float: right;
    width: 29.5%;
    background: #ffffff;
    color: #d74127 !important;
}

/* *****************
   END Department Scanning Screen
   ****************/

#mOptions
{
 height: initial;
 width: 100%;
 display: flex;    
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: center; 
 border: 0; 
}

@media (min-width: 1024px){
 #mOptions{
     flex-direction: row;
     align-items: center;
     height: 75%;
 }
}
.mOptionsCell
{ 
    flex-grow: 1;
    text-align: center !important;
    background-color: rgba(0, 0, 0, 0.5);
    font:normal 1.2rem Arial, san-serif; 
    text-transform: uppercase;
    border: 0;
    margin: 10px;
    height: 200px;
    line-height: 200px;
    cursor: pointer;
   
}
.mOptionsCell span {
	color: white;
}


@media (max-width: 1023px){
    .mOptionsCell{
        flex-grow: 0;
        height: 150px;
        line-height: 150px;      
    }
}
@media (max-width: 414px){
    .mOptionsCell{
        flex-grow: 0;
        height: 75px;
        line-height: 75px;      
    }
    #mOptions{
        justify-content: flex-start;
    }
}

