<div data-role="view" 
    id="departmentScanOnly" 
    data-layout="blank" 
    data-model="dmsi.departmentScanOnly.viewModel" 
    data-bind="events:{init:onInit, show:onShow, hide:onHide}">   
    <span id="staticNotification"></span>
    <header data-role="header" class="bgWhite">
      <meta name="format-detection" content="telephone=no" />        
      <form>
        <div data-role="navbar">
            <a id="departmentScanOnlyBack" class="optionsbuttonleft" data-role="touch" data-align="left" data-position="left" data-bind="events: {tap: onBackKeyPressed}">Back</a>
            <div class="navbar" id="departmentScanOnlyTabTitle">Work Order Completion</div>
            <a id="departmentScanOnlyBack" class="optionsbuttonright" data-role="touch" data-align="right" data-position="right" data-bind="events: {tap: onLogout}">Logout</a>
        </div>
        <div data-role="workorderCompletionbranchbar" class="workorderCompletionbranchbar">
            <span id="departmentScanOnlybranchbarid"></span>
        </div>
       </form>
    </header>
    <div data-role="content" id="departmentScanOnlyContent" class="workorderCompletionContent">      
        <div id="departmentScanOnlyClearFix" class="workorderCompletionClearFix">
            <div>
    		    <dl data-role="listview" id="departmentScanOnlyWOIDEntry" class="workorderCompletionDescList" data-inset="true" data-theme="d">
                    <dt class="workorderCompletionWOIDHeading">WO ID</dt>
                    <dd class="workorderCompletionWOIDContainer">
                        <input type="text" id="departmentScanOnlyWOID" class="workorderCompletionWOID" data-bind="events: {keypress: WOIDKeyPressed}" autofocus autocorrect="off" autocapitalize="off" maxlength="8"/>
                        <span id="departmentScanOnlyWOIDClear" class="textBoxClear workorderCompletionWOIDClear" data-role="touch" data-bind="events: {tap: clearWOID}">x</span>
                        <div>
                            <a class="workorderIDSearchBtn appBtn" id="workorderIDSearchBtn" data-role="touch" data-bind="events: {tap: WOIDEntered}">Search</a>
                        </div>
                    </dd>
                </dl>
            </div> 
        </div>                
        <div id="departmentScanOnlyInfo" class="infoResultDiv">
            <ul data-role="listview" class="infoList">
                <li>
                    <span id="departmentScanOnlyWOIDHd" class="infoLabel">WO ID:</span>
                    <span id="departmentScanOnlyWOIDInfo"></span>
                </li>
                <li>
                    <span id="departmentScanOnlyNextDeptHd" class="infoLabel">Next Department:</span>
                    <span id="departmentScanOnlyNextDept"></span>
                </li>
                <li>
                    <span id="departmentScanOnlySOIDHd" class="infoLabel">SO ID:</span>
                    <span id="departmentScanOnlySOID"></span>
                </li>
                <li>
                    <span id="departmentScanOnlyWOPhraseHd" class="infoLabel">WO Phrase:</span>
                    <span id="departmentScanOnlyWOPhrase" class="WOPhrase"></span>
                </li>             
            </ul>
        </div>      
        <div id="departmentScanOnlyStaticNotification"></div>  
        
        <script type="text/x-kendo-template" id="departmentScanOnlySuccessfulTemplate">
            <div class="SuccessfulWorkorderCompletion">
            	<div class="icon icon--success"><img src="img/success.png"></div>
                <div class="successfulWorkorderCompletion__detail">${SuccessfulDepartmentScanOnlyMessage}</div>
            </div>
        </script>    
        <script type="text/x-kendo-template" id="departmentScanOnlyErrorTemplate">
            <div class="ErrorWorkorderCompletion">
            	<div class="icon icon--error"><img src="img/error.png"></div>
                <div class="errorWorkorderCompletion__detail">${ErrorDepartmentScanOnlyMessage}</div>
            </div>
        </script>            
    </div>
</div>
