<div data-role="view" 
    id="departmentSelection" 
    data-layout="blank" 
    data-model="dmsi.departmentSelection.viewModel" 
    data-bind="events:{init:onInit, show:onShow, hide:onHide}">   
    <span id="staticNotification"></span>
    <header data-role="header" class="bgWhite">
      <meta name="format-detection" content="telephone=no" />        
      <form>
        <div data-role="navbar">
            <a id="departmentSelectionBack" class="optionsbuttonleft" data-role="touch" data-align="left" data-position="left" data-bind="events: {tap: onBackKeyPressed}">Back</a>
            <div class="navbar" id="departmentSelectionTabTitle">Department Selection</div>
            <a id="departmentSelectionBack" class="optionsbuttonright" data-role="touch" data-align="right" data-position="right" data-bind="events: {tap: onLogout}">Logout</a>
        </div>
        <div data-role="departmentSelectionbranchbar" class ="branchbar">
            <span id="departmentSelectionbranchbarid"></span>
        </div>
       </form>
    </header>
    <div data-role="content" class="departmentSelectionContent">
        <div id="staticNotification"></div>
        <div class="departmentsListContainer">
            <div id="departmentsListEmpty" class="hidden">
                <h2>
                    No departments found.
                </h2>
            </div>
            <ul data-role="listview" id="departmentsList" data-inset="true" data-theme="d">
            </ul> 
        </div>                     
        
        <script type="text/x-kendo-template" id="departmentsTemplate">
			<div class="dataCard dataCard--department">
            	<h2 class="departmentsDepartment">#=department#</h2>
            </div>
        </script>  
    </div>

</div>
