<div data-role="view" 
    id="departmentScanning" 
    data-layout="blank" 
    data-model="dmsi.departmentScanning.viewModel" 
    data-bind="events:{init:onInit, show:onShow, hide:onHide}">   
    <span id="staticNotification"></span>
    <header data-role="header" class="bgWhite">
      <meta name="format-detection" content="telephone=no" />        
      <form>
        <div data-role="navbar">
            <a id="departmentScanningBack" class="optionsbuttonleft" data-role="touch" data-align="left" data-position="left" data-bind="events: {tap: onBackKeyPressed}">Back</a>
            <div class="navbar" id="departmentScanningTabTitle">Work Order Completion</div>
            <a id="departmentScanningBack" class="optionsbuttonright" data-role="touch" data-align="right" data-position="right" data-bind="events: {tap: onLogout}">Logout</a>
        </div>
        <div data-role="workorderCompletionbranchbar" class="workorderCompletionbranchbar">
            <span id="departmentScanningbranchbarid"></span>
        </div>
       </form>
    </header>
    <div data-role="content" id="departmentScanningContent" class="workorderCompletionContent">      
        <div id="departmentScanningClearFix" class="workorderCompletionClearFix">
            <div>
    		    <dl data-role="listview" id="departmentScanningWOIDEntry" class="workorderCompletionDescList" data-inset="true" data-theme="d">
                    <dt class="workorderCompletionWOIDHeading">WO ID</dt>
                    <dd class="workorderCompletionWOIDContainer">
                        <input type="text" id="departmentScanningWOID" class="workorderCompletionWOID" data-bind="events: {keypress: WOIDKeyPressed}" autofocus autocorrect="off" autocapitalize="off" min="1" max="99999999"/>
                        <span id="departmentScanningWOIDClear" class="textBoxClear workorderCompletionWOIDClear" data-role="touch" data-bind="events: {tap: clearWOID}">x</span>
                        <div>
                            <a class="workorderIDSearchBtn appBtn" id="workorderIDSearchBtn" data-role="touch" data-bind="events: {tap: WOIDEntered}">Search</a>
                        </div>
                    </dd>
                </dl>
            </div> 
        </div>
        <div id="departmentScanningInfo" class="infoResultDiv">  
            <div class="bodyButtonContainer">
               <div class="bodyText">
                   <span id="departmentScanningCompletedQtyHd" class="infoLabel">Qty Remaining:</span>
                   <span id="departmentScanningCompletedQty"></span>
               </div>  
               <a class="bodyButton" id="deptScanningExpandButton" data-role="touch" data-bind="events: {tap: onExpandCollapse}">Less info...</a>
            </div>  
            <div id="deptScanningCollapseDIV">
                <ul data-role="listview" class="infoList">
                    <li>
                        <span id="departmentScanningNextDeptHd" class="infoLabel">Next Department:</span>
                        <span id="departmentScanningNextDept"></span>
                    </li>
                    <li>
                        <span id="departmentScanningSOIDHd" class="infoLabel">SO ID:</span>
                        <span id="departmentScanningSOID"></span>
                    </li>
                    <li>
                        <span id="departmentScanningWOPhraseHd" class="infoLabel">WO Phrase:</span>
                        <span id="departmentScanningWOPhrase" class="WOPhrase"></span>
                    </li>             
                </ul>
                
                <br class="inputFieldsBr" />
                <div class="updatableTextBoxGroup"  id="departmentScanningNumEmployeesGroupBox">
                    <span id="departmentScanningNumEmployeesHd" class="updatableTextBoxLabel">Employees</span>
                    <div class="updatableTextBoxContainer">
                        <input type="number" id="departmentScanningNumEmployees" autocorrect="off" autocapitalize="off" min="0" max="999"/>                    
                        <span id="departmentScanningNumEmployeesClear" class="textBoxClear" data-role="touch" data-bind="events: {tap: clearNumEmployees}">x</span>
                    </div>
                </div> 
                <div class="updatableTextBoxGroup" id="departmentScanningListGroupBox"> 
                    <span id="departmentScanningReasonsHd" class="updatableTextBoxLabel">Reasons</span>  
                    <div class="updatableTextBoxContainer">
                        <select multiple class="departmentScanningReasonList" id="departmentScanningReasonList">
                        </select>                          
                    </div>
                </div>
                <div class="updatableTextBoxGroup"> 
                    <span id="departmentScanningNotesHd" class="updatableTextBoxLabel">Notes</span>  
                    <div>
                        <textarea id="departmentScanningNotes" class="updatableTextArea" autocorrect="off" autocapitalize="off"></textarea>
                    </div>
                </div>
            </div>
        </div>        
        
        <div id="departmentScanningStaticNotification"></div>  
        
        <script type="text/x-kendo-template" id="departmentScanningSuccessfulTemplate">
            <div class="SuccessfulWorkorderCompletion">
            	<div class="icon icon--success"><img src="img/success.png"></div>
                <div class="successfulWorkorderCompletion__detail">${SuccessfulDepartmentScanningMessage}</div>
            </div>
        </script>    
        <script type="text/x-kendo-template" id="departmentScanningErrorTemplate">
            <div class="ErrorWorkorderCompletion">
            	<div class="icon icon--error"><img src="img/error.png"></div>
                <div class="errorWorkorderCompletion__detail">${ErrorDepartmentScanningMessage}</div>
            </div>
        </script>
        
        <div class="spacer"></div>
        <div id="departmentScanningStartStopTimeBtnDIV" class="footerButtonContainer">    
            <a id="departmentScanningStartStopTimeBtn" class="footerButton" data-role="touch" data-bind="events: {tap: stopStartTime}">Stop Time Tracking</a>               
        </div> 
        <div id="departmentScanningCompleteDIV" class="footerButtonContainer">
            <a id="departmentScanningCompleteAllBtn" class="footerButton" data-role="touch" data-bind="events: {tap: processCompleteAll}">Complete All</a>
            <div id="departmentScanningQtyContainer" class="workorderCompletionQtyContainer">
                <input type="number" id="departmentScanningQty" autocorrect="off" autocapitalize="off"/>                    
                <span id="departmentScanningQtyClear" class="textBoxClear" data-role="touch" data-bind="events: {tap: clearCompletionQty}">x</span>
            </div>                         
            <a id="departmentScanningCompleteQtyBtn" class="footerButton" data-role="touch" data-bind="events: {tap: processCompleteQty}">Complete Partial</a>
        </div>
        <div>
            <br class="inputFieldsBr" />
        </div>
    </div>     
</div>
