 <div data-role="view" 
     id="loginScreen"
     data-layout="blank"
     data-model="dmsi.login.viewModel"
     data-bind="events:{init:onInit, show:onShow}">
    <span id="staticNotification"></span>
    <div class="loginScreen">
        <div class="loginConsole">
            <div class="loginForm">
                <header data-role="header">
                </header>

                <form>
                    <br/>
                    <ul data-role="listview" data-style="inset">
                        <li>
                            <input type="text" id="loginUsername" placeholder="User ID" autocapitalize="off" autocorrect="off" autocomplete="off" data-bind="events:{keypress: keyDown}"/>
                        </li>
                        <br/>
                        <li>
                            <input type="password" id="loginPassword" placeholder="Password" data-bind="events:{keypress: keyDown}"/>
                        </li>
                        <br/>
                        <li>
                            <label id="loginRememberLabel" class="lightText">
                                <input type="checkbox" id="loginRemember" style="color: white"/>
                                REMEMBER ME
                            </label>
                        </li>
                    </ul>
                    <ol>
                        <li>
                            <span class="lightText" data-role="touch" data-bind="events:{tap: onUserLogin}" data-transition="slide:left">
                                <a data-role="button" class="appBtn">LOGIN</a>
                            </span>
                            <br/>
                        </li>
                    </ol>
                </form>

            </div>
            

        </div>
    </div>
</div>
