<div data-role="view" 
    id="mainMenu" 
    data-layout="blank" 
    data-model="dmsi.mainMenu.viewModel" 
    data-bind="events:{init:onInit, show:onShow, hide:onHide}">
    
    <header data-role="header">
      <form>
        <div data-role="navbar">
            <div class="navbar" id="tabTitle">Warehouse Tools</div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="right" data-position="right" data-icon="more" class="optionsbuttonright"></a>            
        </div>
        <div data-role="branchbar" class="branchbar">
            <span id="branchbarid"></span>
        </div>
          
       </form>
    </header>
    
    <div data-role="content"> 
	   <ul data-role="listview" id="mOptions" data-inset="true" data-theme="d" style="width: 100%">
       </ul> 
     </div>
        
    
    <script type="text/x-kendo-template" id="mOptionsTemplate">
        <div class="mOptionsCell" data-transition="slide">
          <span>${menu_name}</span><br/>          
        </div> 
    </script>    
</div>

<div id="appDrawer" 
     data-role="drawer" 
     data-title="Options" 
     data-position="right" 
     data-align="right" 
     style="width: 90%; margin-left: 10%" 
     data-display="push" 
     data-show="dmsi.mainMenu.viewModel.onAppDrawerShow" 
     data-hide="dmsi.mainMenu.viewModel.onAppDrawerHide"
     data-views='["mainMenu"]'>
    
    <header data-role="header">
        <div data-role="navbar">
            <div class="navbar" data-role="view-title"></div>
        </div>
    </header>
    <ul id="navigation-container" data-role="listview">
        <li data-icon="home">Change branch
            <select id="branchList" style="width: 94%" onchange="dmsi.mainMenu.viewModel.onBranchChange()">                
                <option id="changeBranch" disabled>Change branch</option>                      
            </select>
        </li>
        <li>
            <div onclick="dmsi.mainMenu.viewModel.onLogout()">Logout</div>
        </li>
    </ul>
</div>  
