<div data-role="view" 
    id="moveTags" 
    data-layout="blank" 
    data-model="dmsi.moveTags.viewModel" 
    data-bind="events:{init:onInit, show:onShow, hide:onHide}">
    
    <header data-role="header" class="bgWhite">
      <meta name="format-detection" content="telephone=no" />        
      <form>
        <div data-role="navbar">
            <a id="moveTagsBack" class="optionsbuttonleft" data-role="touch" data-align="left" data-position="left" data-bind="events: {tap: onBackKeyPressed}">Back</a>
            <div class="navbar" id="tabTitle">Move Tags</div>
            <a id="moveTagsBack" class="optionsbuttonright" data-role="touch" data-align="right" data-position="right" data-bind="events: {tap: onLogout}">Logout</a>
        </div>
        <div data-role="moveTagsbranchbar" class="moveTagsbranchbar">
            <span id="moveTagsbranchbarid"></span>
        </div>
       </form>
    </header>
    <div data-role="content" class="moveTagsContent">   
        <div class="moveTagsEntry">    
            <h2 id="moveTagsTagLocHeading">Tag</h2>
            <a class="moveTagsSearchContainer">
                <input type="text" id="moveTagsTagID" class="moveTagsTagID" data-bind="events: {keypress: keyPressed, keyup: keyUp}" autofocus autocorrect="off" autocapitalize="off"/>                    
                <span id="moveTagsClear" class="moveTagsClear" data-role="touch" data-bind="events: {tap: clearTagID}">x</span>
            </a>                            
        </div>       
        <div>
            <a id="moveTagsBtn" class="moveTagsBtn appBtn" data-role="touch" data-bind="events: {tap: addToListSelected}">Add Tag to List</a>
        </div>
        <div class="clearfix">
            
        </div>        
        <div class="moveTagsResults"> 
            <div class="moveTagsTagListHeading">Tags to Move</div>
            <ul data-role="listview" id="moveTagsResultList" data-inset="true" data-theme="d">
            </ul> 
        </div>     
        <div id="moveTagsStaticNotification"></div>

        <script type="text/x-kendo-template" id="moveTagsResultListTemplate">
            <div class="moveTagsResultListCell">
            	<span class="moveTagsResultListCellLabel">
                	${tag}
            	</span>
                #if(tag_desc !== ''){#
                    <span class="invalidTag">
                        <img class="icon icon--warning" src="img/warning.png">
                        ${tag_desc}
                    </span>
                #}#
                <a class="moveTagsResultListCellDelete" href='javascript:void(0);'  onclick="dmsi.moveTags.viewModel.deleteTagListEntry('${tag}', '${sequence}')">
                	<img src="img/trashcan.png">
            	</a>
        	</div>
        </script>   
        
        <script type="text/x-kendo-template" id="moveTagsSuccessfulMoveTemplate">
            <div class="SuccessfulMove">
            	<div class="icon icon--success"><img src="img/success.png"></div>
                <div class="successfulMove__detail">${SuccessfulMoveMessage}</div>
            </div>
        </script>         
    </div>        
</div>
