<div data-role="view" 
    id="printTags" 
    data-layout="blank" 
    data-model="dmsi.printTags.viewModel" 
    data-bind="events:{init:onInit, show:onShow, hide:onHide}">
    
    <header data-role="header" class="bgWhite">
      <meta name="format-detection" content="telephone=no" />        
      <form>
        <div data-role="navbar">
            <a id="printTagsBack" class="optionsbuttonleft" data-role="touch" data-align="left" data-position="left" data-bind="events: {tap: onBackKeyPressed}">Back</a>
            <div class="navbar" id="tabTitle">Print Tags</div>
            <a id="printTagsBack" class="optionsbuttonright" data-role="touch" data-align="right" data-position="right" data-bind="events: {tap: onLogout}">Logout</a>
        </div>
        <div data-role="printTagsbranchbar" class="printTagsbranchbar">
            <span id="printTagsbranchbarid"></span>
        </div>
       </form>
    </header>
    <div data-role="content" class="printTagsContent"> 
        <div id="printTagsItemInfo" class="printTagsItemInfo"></div>
        <div class="printTagsResults"> 
            <div class="printTagsTagListHeading">Tags to Print</div>
            <ul data-role="listview" id="printTagsResultList" data-inset="true" data-theme="d">
            </ul> 
        </div>                                          
        <div class="printTagsPrinterEntry">
             <div class="printTagsPrinterLabel" id="printTagsPrinterLabel">Printer</div>
             <div class="printTagsPrinterContainer">
                 <input type="text" id="printTagsPrinter" class="printTagsPrinter" autofocus autocorrect="off" autocapitalize="off"/>
                 <span id="printTagsPrinterClear" class="printTagsPrinterClear" data-role="touch" data-bind="events: {tap: clearPrinter}">x</span>
             </div>
        </div>         
        <div id="printTagsStaticNotification"></div>        

        <script type="text/x-kendo-template" id="printTagsResultListTemplate">
            <div class="printTagsResultListCell">
            	<span class="printTagsResultListCellLabel">
                	${tag} &nbsp &nbsp ${tag_qty}   
            	</span>
                <a class="printTagsResultListCellDelete" href='javascript:void(0);'  onclick="dmsi.printTags.viewModel.deleteTagListEntry('${tag}', '${sequence}')">
                	<img src="img/trashcan.png">
            	</a>               
        	</div>
        </script>   
        
        <script type="text/x-kendo-template" id="printTagsSuccessfulPrintTemplate">
            <div class="SuccessfulPrint">
            	<div class="icon icon--success"><img src="img/success.png"></div>
                <div class="successfulPrint__detail">${SuccessfulPrintMessage}</div>
            </div>
        </script>    
        <script type="text/x-kendo-template" id="printTagsErrorPrintTemplate">
            <div class="ErrorPrint">
            	<div class="icon icon--error"><img src="img/error.png"></div>
                <div class="errorPrint__detail">${ErrorPrintMessage}</div>
            </div>
        </script>             
    </div>
    <footer data-role="footer" class="printTagsFooter" id="printTagsFooter">
       <div id="printTagsUpdateBtnContainer" class="printTagsUpdateBtnContainer">
            <a id="printTagsUpdateBtn" class="printTagsUpdateBtn" data-role="touch" data-bind="events: {tap: processPrint}">Print</a>
       </div>       
    </footer>
</div>
