<div data-role="view" 
    id="splitTags" 
    data-layout="blank" 
    data-model="dmsi.splitTags.viewModel" 
    data-bind="events:{init:onInit, show:onShow, hide:onHide}">   
    <header data-role="header" class="bgWhite">
      <meta name="format-detection" content="telephone=no" />        
      <form>
        <div data-role="navbar">
            <a id="splitTagsBack" class="optionsbuttonleft" data-role="touch" data-align="left" data-position="left" data-bind="events: {tap: onBackKeyPressed}">Back</a>
            <div class="navbar" id="tabTitle">Split Tags</div>
            <a id="splitTagsBack" class="optionsbuttonright" data-role="touch" data-align="right" data-position="right" data-bind="events: {tap: onLogout}">Logout</a>
        </div>
        <div data-role="splitTagsbranchbar" class="splitTagsbranchbar">
            <span id="splitTagsbranchbarid"></span>
        </div>
       </form>
    </header>
    <div data-role="content" id="splitTagsContent" class="splitTagsContent">      
        <div class="splitTagsFromTagEntry">    
            <div id="splitTagsFromTagLocHeading">From Tag</div>
            <div class="splitTagsFromTagContainer">
                <input type="text" id="splitTagsFromTagID" class="splitTagsFromTagID" onblur="dmsi.splitTags.viewModel.fromTagEntered()" data-bind="events: {keypress: fromTagKeyPressed}" autofocus autocorrect="off" autocapitalize="off"/>                    
                <span id="splitTagsFromTagClear" class="splitTagsFromTagClear" data-role="touch" data-bind="events: {tap: clearFromTagID}">x</span>
            </div>                
        </div>
        <div class="splitTagsFromTagInfo">
             <p id="splitTagsFromTagInfo"></p>
        </div>
        <div class="splitTagsFromTagExistingQtyContainer">
            <div class="splitTagsFromTagExistingQtyLabel">Existing Qty</div>
            <div id="splitTagsFromTagExistingQty"></div>
        </div>
        <div class="splitTagsFromTagQtyEntry">
            <div id="splitTagsFromTagQtyHeading">Split Qty</div>
            <div class="splitTagsFromTagQtyContainer">
                <input type="number" id="splitTagsFromTagQty" class="splitTagsFromTagQty" onblur="dmsi.splitTags.viewModel.addToListSelected(false)" data-bind="events: {keypress: fromTagQtyKeyPressed}" autofocus autocorrect="off" autocapitalize="off"/>                    
                <span id="splitTagsFromTagQtyClear" class="splitTagsFromTagQtyClear" data-role="touch" data-bind="events: {tap: clearFromTagQty}">x</span>
                <div>
                    <a id="splitTagsFromTagBtn" class="splitTagsFromTagBtn appBtn" data-role="touch" data-bind="events: {tap: addToListSelected(true)}">Add Tag to List</a>
                </div>
            </div> 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div id="splitTagsResults" class="splitTagsResults"> 
            <div class="splitTagsTagListHeading">Tags to Split</div>
            <ul data-role="listview" id="splitTagsResultList" data-inset="true" data-theme="d">
            </ul> 
        </div>       
        <div class="splitTagsToTagEntry">    
            <div id="splitTagsToTagLocHeading">To Tag</div>
            <div class="splitTagsToTagContainer">
                <input type="text" id="splitTagsToTagID" class="splitTagsToTagID" onblur="dmsi.splitTags.viewModel.toTagEntered()" data-bind="events: {keypress: toTagKeyPressed}" autofocus autocorrect="off" autocapitalize="off"/>                    
                <span id="splitTagsToTagClear" class="splitTagsToTagClear" data-role="touch" data-bind="events: {tap: clearToTagID}">x</span>
                <div>
                    <a id="splitTagsToTagGetNewTagBtn" class="splitTagsToTagGetNewTagBtn appBtn" data-role="touch" data-bind="events: {tap: getNewTag}">Get New Tag</a>
                </div>
            </div>             
        </div>
        
        <div class="splitTagsToTagExistingQtyContainer">
            <div class="splitTagsToTagExistingQtyLabel">Existing Qty</div>
            <div id="splitTagsToTagExistingQty"></div>
        </div>
        <div class="splitTagsToTagTotalQtyContainer">
            <div class="splitTagsToTagTotalQtyLabel">New Qty</div>
            <div id="splitTagsToTagTotalQty"></div>
        </div>        
        <div class="splitTagsToTagLocationEntry">    
            <div class="splitTagsToTagLocationLabel" id="splitTagsToTagLocationLabel">Location</div>
            <div class="splitTagsToTagLocationContainer">
                <input type="text" id="splitTagsToTagLocation" class="splitTagsToTagLocation" autofocus autocorrect="off" autocapitalize="off"/>                    
                <span id="splitTagsToTagLocationClear" class="splitTagsToTagLocationClear" data-role="touch" data-bind="events: {tap: clearToTagLocation}">x</span>
            </div>                
        </div>
        <div class="splitTagsToTagLotEntry">    
            <div class="splitTagsToTagLotLabel" id="splitTagsToTagLotLabel">Lot</div>
            <div class="splitTagsToTagLotContainer">
                <input type="text" id="splitTagsToTagLot" class="splitTagsToTagLot" autofocus autocorrect="off" autocapitalize="off"/>                    
                <span id="splitTagsToTagLotClear" class="splitTagsToTagLotClear" data-role="touch" data-bind="events: {tap: clearToTagLot}">x</span>
            </div>                
        </div>                       
        <div class="splitTagsPrintTagsEntry">    
            <div class="splitTagsPrintTagsOptionLabel" id="splitTagsPrintTagsOptionLabel">Print Tags</div>   
             <div class="splitTagsPrintTagsContainer">
                <select class="splitTagsPrintTagsOptionList" id="splitTagsPrintTagsOptionList" onchange="dmsi.splitTags.viewModel.onPrintOptionsChange()">   
                    <option value="Do not print">Do not print</option>
                    <option value="Auto print">Auto print</option>
                    <option value="Prompt to print">Prompt to print</option>                
                </select>                          
             </div>
        </div>
        <div class="splitTagsPrinterEntry">
             <div class="splitTagsPrinterLabel" id="splitTagsPrinterLabel">Printer</div>
             <div class="splitTagsPrinterContainer">
                 <input type="text" id="splitTagsPrinter" class="splitTagsPrinter" autofocus autocorrect="off" autocapitalize="off"/>
                 <span id="splitTagsPrinterClear" class="splitTagsPrinterClear" data-role="touch" data-bind="events: {tap: clearPrinter}">x</span>
             </div>
        </div> 
        <div><a><P></P></a></div>
       <div id="splitTagsStaticNotification"></div>
        
        <script type="text/x-kendo-template" id="splitTagsResultListTemplate">
            <div class="splitTagsResultListCell">
            	<span class="splitTagsResultListCellLabel1">
                	${tag}  
            	</span>
                <span class="splitTagsResultListCellLabel2">#=split_qty# #=split_qty_uom#</span>  
                <span  class="splitTagsResultListCellDelete" >
                    <a href='javascript:void(0);'  onclick="dmsi.splitTags.viewModel.deleteTagListEntry('${tag}', '${sequence}')">
                    	<img src="img/trashcan.png">
                	</a>
                </span>
        	</div>
            <div class="splitTagsResultListCell2">
                <span class="splitTagsResultListCellLabel3">#=remaining_qty# #=split_qty_uom# Remaining</span>            
            </div>
        </script>   
        
        <script type="text/x-kendo-template" id="splitTagsSuccessfulSplitTemplate">
            <div class="SuccessfulSplit">
            	<div class="icon icon--success"><img src="img/success.png"></div>
                <div class="successfulSplit__detail">${SuccessfulSplitMessage}</div>
            </div>
        </script>    
        <script type="text/x-kendo-template" id="splitTagsErrorSplitTemplate">
            <div class="ErrorSplit">
            	<div class="icon icon--error"><img src="img/error.png"></div>
                <div class="errorSplit__detail">${ErrorSplitMessage}</div>
            </div>
        </script>            
    </div>
    <footer data-role="footer" class="splitTagsFooter" id="splitTagsFooter">
       <div id="splitTagsUpdateBtnContainer" class="splitTagsUpdateBtnContainer">
            <a id="splitTagsUpdateBtn" class="splitTagsUpdateBtn" data-role="touch" data-bind="events: {tap: processSplit}">Process Split</a>
       </div>       
    </footer>
</div>
