<div data-role="view" 
    id="tagInfo" 
    data-layout="blank" 
    data-model="dmsi.tagInfo.viewModel" 
    data-bind="events:{init:onInit, show:onShow, hide:onHide}">
    
    <header data-role="header" class="bgWhite">
      <meta name="format-detection" content="telephone=no" />
      <form>
        <div data-role="navbar">
            <a id="tagInfoBack" class="optionsbuttonleft" data-role="touch" data-align="left" data-position="left" data-bind="events: {tap: onBackKeyPressed}">Back</a>
            <div class="navbar" id="tabTitle">Tag Info</div>
            <a id="tagInfoBack" class="optionsbuttonright" data-role="touch" data-align="right" data-position="right" data-bind="events: {tap: onLogout}">Logout</a>
        </div>
        <div data-role="taginfobranchbar" class="taginfobranchbar">
            <span id="taginfobranchbarid"></span>
        </div>
       </form>
    </header>
        <div data-role="content" class="tagInfoContent"> 
            <div id="tagInfoClearFix" class="tagInfoClearFix">
                <div>
        		    <dl data-role="listview" id="tagInfoEntry" class="tagInfoDescList" data-inset="true" data-theme="d">
                        <dt class="tagInfoTagHeading">Tag</dt>
                        <dd class="tagInfoSearchContainer">
                            <input type="text" id="tagInfoTagID" class="tagInfoTagID" data-bind="events: {keypress: keyPressed}" autofocus autocorrect="off" autocapitalize="off"/>
                            <span id="tagInfoClear" class="tagInfoClear" data-role="touch" data-bind="events: {tap: clearTagID}">x</span>
                        </dd>
                    </dl>
                </div>
                <div>
                    <a class="taginfoBtn appBtn" id="tagInfoSrchBtn" data-role="touch" data-bind="events: {tap: findTag}">Search</a>
                </div>
            </div>                
            <div class="tagInfoResultDiv">
                <ul data-role="listview" class="tagInfoResults">
                     <li>
                        <a id="tagInfoTagHd"></a>
                        <a id="tagInfoTag" class="tagInfoTag"></a>
                    </li>
                    <li>
                        <!-- This is a coment to stop kendo from affecting single child li tags. -->
                        <a id="tagInfoItemSizeDesc" class="tagInfoItemSizeDesc"></a>
                    </li>
                     <li>
                        <a id="tagInfoLocHd"></a>
                        <a id="tagInfoLoc"></a>
                    </li>
                    <li>                
                        <a id="tagInfoLotHd"></a>
                        <a id="tagInfoLot"></a>
                    </li>
                    <li>                
                        <a id="tagInfoContHd"></a>
                        <a id="tagInfoCont"></a>
                    </li>
                    <li>                
                        <a id="tagInfoTallyHd"></a>
                        <a id="tagInfoTally"></a>
                    </li>
                    <li>                
                        <a id="tagInfoQohHd"></a>
                        <a id="tagInfoQoh"></a>
                        <a id="tagInfoUom"></a>
                    </li>
                    <li>                
                        <a id="tagInfoCommittedHd"></a>
                        <a id="tagInfoCommitted"></a>
                    </li>
                    <li>
                        <a id="tagInfoExtDescHd"></a>
                        <a id="tagInfoExtDesc" class="tagInfoExtDesc"></a>
                    </li>
                </ul>
            </div>
            
            <div class="tagInfoPrintDiv" id="tagInfoPrintDiv">
                <div class="tagInfoPrinterHead" id="tagInfoPrinterHead">Printer</div>
                <div class="tagInfoPrinterContainer">
                    <input type="text" id="tagInfoPrinter" class="tagInfoPrinter" data-bind="events: {keypress: keyPressed}" autocorrect="off" autocapitalize="off"/>
                    <span id="tagInfoPrinterClear" class="tagInfoPrinterClear" data-role="touch" data-bind="events: {tap: clearPrinter}">x</span>
                </div>
                <div class="taginfoPrt appBtn" id="tagInfoPrtBtn" data-role="touch" data-bind="events: {tap: printTag}">Print</div>
            </div>
            <div><a><P></P></a></div>
            <br>
            <div id="tagInfoPrintStaticNotification"></div>
           <script type="text/x-kendo-template" id="tagInfoPrintSuccessfulTemplate">
                <div class="SuccessfulPrint">
                	<div class="icon icon--success"><img src="img/success.png"></div>
                    <div class="successfulPrint__detail">${SuccessfulPrintMessage}</div>
                </div>
            </script>         
        </div>  
</div>
