<div data-role="view" 
    id="verifyTags" 
    data-layout="blank" 
    data-model="dmsi.verifyTags.viewModel" 
    data-bind="events:{init:onInit, show:onShow, hide:onHide}">
    
    <header data-role="header" class="bgWhite">
      <meta name="format-detection" content="telephone=no" />        
      <form>
        <div data-role="navbar">
            <a id="verifyTagsBack" class="optionsbuttonleft" data-role="touch" data-align="left" data-position="left" data-bind="events: {tap: onBackKeyPressed}">Back</a>
            <div class="navbar" id="tabTitle">Verify Tags</div>
            <a id="verifyTagsBack" class="optionsbuttonright" data-role="touch" data-align="right" data-position="right" data-bind="events: {tap: onLogout}">Logout</a>
        </div>
        <div data-role="verifyTagsbranchbar" class="verifyTagsbranchbar">
            <span id="verifyTagsbranchbarid"></span>
        </div>
        <div class="verifyTagsDataCard">
            <h2 id="verifyTagsWorkfileIdSeqDesc" class="verifyTagsWorkfileIdSeqDesc">test1</h2>
			<p  id="verifyTagsSelectionCriteria" class="verifyTagsSelectionCriteria">test2</p>
            <p  id="verifyTagsLocationRange" class="verifyTagsLocationRange">test3</p>
        </div>
       </form>
    </header>
    <div data-role="content" class="verifyTagsContent">   
        <div class="verifyTagsEntry">    
            <h2 id="verifyTagsTagLocHeading">Tag</h2>
            <a class="verifyTagsSearchContainer">
                <input type="text" id="verifyTagsTagID" class="verifyTagsTagID" data-bind="events: {keypress: keyPressed, keyup: keyUp}" autofocus autocorrect="off" autocapitalize="off"/>                    
                <span id="verifyTagsClear" class="verifyTagsClear" data-role="touch" data-bind="events: {tap: clearTagID}">x</span>
            </a>                
        </div>
        <div>
            <a id="verifyTagsBtn" class="verifyTagsBtn appBtn" data-role="touch" data-bind="events: {tap: addToListSelected}">Add Tag to List</a>
        </div>
        <div class="clearfix">
            
        </div>
        <div class="verifyTagsResults"> 
            <div class="verifyTagsTagListHeading">Tags Verified</div>
            <ul data-role="listview" id="verifyTagsResultList" data-inset="true" data-theme="d">
            </ul> 
        </div>             
        <div id="verifyTagsStaticNotification"></div>

        <script type="text/x-kendo-template" id="verifyTagsResultListTemplate">
            <div class="verifyTagsResultListCell">
            	<span class="verifyTagsResultListCellLabel">
                	${tag}
                </span>
                #if(tag_desc !== ''){#
                    <span class="invalidTag">
                        <img class="icon icon--warning" src="img/warning.png">
                        ${tag_desc}
                    </span>
                #}#
                <a class="verifyTagsResultListCellDelete" href='javascript:void(0);'  onclick="dmsi.verifyTags.viewModel.deleteTagListEntry('${tag}', '${sequence}')">
                	<img src="img/trashcan.png">
            	</a>
        	</div>
        </script>   
        
        <script type="text/x-kendo-template" id="verifyTagsSuccessfulVerifyTemplate">
            <div class="SuccessfulVerify">
            	<div class="icon icon--success"><img src="img/success.png"></div>
                <div class="successfulVerify__detail">${SuccessfulVerifyMessage}</div>
            </div>
        </script>         
    </div> 
    <footer data-role="footer" class="verifyTagsFooter">
       <div id="verifyTagsUpdateBtnContainer" class="verifyTagsUpdateBtnContainer">
            <a id="verifyTagsUpdateBtn" class="verifyTagsUpdateBtn" data-role="touch" data-bind="events: {tap: setReadyToProcess}">Send</a>
       </div> 
    </footer>
</div>
