<div data-role="view" 
    id="workfile" 
    data-layout="blank" 
    data-model="dmsi.workfiles.viewModel" 
    data-bind="events:{init:onInit, show:onShow, hide:onHide}">
    
    <header data-role="header" class="bgWhite">
      <meta name="format-detection" content="telephone=no" />
      <form>
        <div data-role="navbar">
            <a class="optionsbuttonleft" data-role="touch" data-align="left" data-position="left" data-bind="events: {tap: onBackKeyPressed}">Back</a>
            <div class="navbar" id="tabTitle">Select Workfile</div>
            <a class="optionsbuttonright" data-role="touch" data-align="right" data-position="right" data-bind="events: {tap: onLogout}">Logout</a>
        </div>
        <div data-role="workfilebranchbar" class="branchbar">
            <span id="workfilebranchbar"></span> 
        </div>
       </form>
    </header>
    <div data-role="content" class="workfileContent">
        <div id="staticNotification"></div>
        <div class="worfileListContainer">
            <div id="workfileListEmpty" class="hidden">
                <h2>
                    No workfiles found.
                </h2>
            </div>
            <ul data-role="listview" id="workfileList" data-inset="true" data-theme="d">
            </ul> 
        </div>                     
        
        <script type="text/x-kendo-template" id="workfileTemplate">
			<div class="dataCard dataCard--workfile">
            	<h2 class="workfilesWorkfileIdSeqDesc">#=workfileIdSeqDesc#</h2>
				<p class="selectionCriteria">#=selection_criteria#</p>
                <p class="locationRange">#=location_range#</p>
            </div>
        </script>  
    </div>
</div>
