<div data-role="view" 
    id="workorderCompletion" 
    data-layout="blank" 
    data-model="dmsi.workorderCompletion.viewModel" 
    data-bind="events:{init:onInit, show:onShow, hide:onHide}">   
    <span id="staticNotification"></span>
    <header data-role="header" class="bgWhite">
      <meta name="format-detection" content="telephone=no" />        
      <form>
        <div data-role="navbar">
            <a id="workorderCompletionBack" class="optionsbuttonleft" data-role="touch" data-align="left" data-position="left" data-bind="events: {tap: onBackKeyPressed}">Back</a>
            <div class="navbar" id="workorderCompletionTabTitle">Work Order Completion</div>
            <a id="workorderCompletionBack" class="optionsbuttonright" data-role="touch" data-align="right" data-position="right" data-bind="events: {tap: onLogout}">Logout</a>
        </div>
        <div data-role="workorderCompletionbranchbar" class="workorderCompletionbranchbar">
            <span id="workorderCompletionbranchbarid"></span>
        </div>
       </form>
    </header>
    <div data-role="content" id="workorderCompletionContent" class="workorderCompletionContent">      
        <div id="workorderCompletionClearFix" class="workorderCompletionClearFix">
            <div>
    		    <dl data-role="listview" id="workorderCompletionWOIDEntry" class="workorderCompletionDescList" data-inset="true" data-theme="d">
                    <dt class="workorderCompletionWOIDHeading">WO ID</dt>
                    <dd class="workorderCompletionWOIDContainer">
                        <input type="text" id="workorderCompletionWOID" class="workorderCompletionWOID" data-bind="events: {keypress: WOIDKeyPressed}" autofocus autocorrect="off" autocapitalize="off" min="1" max="99999999"/>
                        <span id="workorderCompletionWOIDClear" class="textBoxClear workorderCompletionWOIDClear" data-role="touch" data-bind="events: {tap: clearWOID}">x</span>
                        <div>
                            <a class="workorderIDSearchBtn appBtn" id="workorderIDSearchBtn" data-role="touch" data-bind="events: {tap: WOIDEntered}">Search</a>
                        </div>
                    </dd>
                </dl>
            </div> 
        </div>                
        <div id="workorderCompletionInfo" class="infoResultDiv">
            <ul data-role="listview" class="infoList">
                <li>
                    <span id="workorderCompletionCompletedQtyHd" class="infoLabel">Qty Remaining:</span>
                    <span id="workorderCompletionCompletedQty"></span>
                </li>
                <li>
                    <span id="workorderCompletionSOIDHd" class="infoLabel">SO ID:</span>
                    <span id="workorderCompletionSOID"></span>
                </li>
                <li>
                    <span id="workorderCompletionWOPhraseHd" class="infoLabel">WO Phrase:</span>
                    <span id="workorderCompletionWOPhrase" class="WOPhrase"></span>
                </li>
            </ul>
        </div>      
        <div id="workorderCompletionStaticNotification"></div>  
        
        <script type="text/x-kendo-template" id="workorderCompletionSuccessfulTemplate">
            <div class="SuccessfulWorkorderCompletion">
            	<div class="icon icon--success"><img src="img/success.png"></div>
                <div class="successfulWorkorderCompletion__detail">${SuccessfulWorkorderCompletionMessage}</div>
            </div>
        </script>    
        <script type="text/x-kendo-template" id="workorderCompletionErrorTemplate">
            <div class="ErrorWorkorderCompletion">
            	<div class="icon icon--error"><img src="img/error.png"></div>
                <div class="errorWorkorderCompletion__detail">${ErrorWorkorderCompletionMessage}</div>
            </div>
        </script>            
    </div>
    <footer data-role="footer" id="workorderCompletionFooter">
        <div class="workorderCompletionLocationEntry">    
            <div class="workorderCompletionLocationLabel" id="workorderCompletionLocationLabel">Location</div>
            <div class="workorderCompletionLocationContainer">
                <input type="text" id="workorderCompletionLocation" class="workorderCompletionLocation" onblur="dmsi.workorderCompletion.viewModel.WOLocationEntered()"  autofocus autocorrect="off" autocapitalize="off"/>                    
                <span id="workorderCompletionLocationClear" class="textBoxClear workorderCompletionLocationClear" data-role="touch" data-bind="events: {tap: clearLocation}">x</span>
            </div>                
        </div>
       <div id="workorderCompletionUpdateBtnContainer" class="workorderCompletionUpdateBtnContainer">
            <a id="workorderCompletionCompleteAllBtn" class="footerButton" data-role="touch" data-bind="events: {tap: processCompleteAll}">Complete All</a>   
            <div class="workorderCompletionQtyContainer">
                <input type="number" id="workorderCompletionQty" class="workorderCompletionQty"   autofocus autocorrect="off" autocapitalize="off"/>                    
                <span id="workorderCompletionQtyClear" class="textBoxClear" data-role="touch" data-bind="events: {tap: clearCompletionQty}">x</span>
            </div>                         
            <a id="workorderCompletionCompleteQtyBtn" class="footerButton" data-role="touch" data-bind="events: {tap: processCompleteQty}">Complete Partial</a>
       </div>
    </footer>
</div>
